
.articlePrix
{
    border-radius: 3px;
}

.dividerArtLab
{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.titleDisc
{
    font-family: Marker Felt;
    border-radius: 3px;
    color: #003333;
}
.genreDisc
{
    font-family: Marker Felt;
}
.btnEnvoie
{
    max-width: 52px;
}
#titlArt
{
    font-size: 5vw;
}
#titleArtLarg
{
    font-size: 3vw;
}
#pDelete
{
    font-size: 3vw;
    color: red;
}
#ajoutBtnArtist
{
    margin-left: 50px;
    margin-bottom: 20px;
}

#artistCDcard
{
    font-size: 160%;
}
