
.articlePrix
{
    border-radius: 3px;
}

.dividerArtLab
{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.titleDisc
{
    font-family: Marker Felt;
    border-radius: 3px;
    color: #003333;
}
.genreDisc
{
    font-family: Marker Felt;
}
.btnEnvoie
{
    min-width: 150px;
}
#titlArt
{
    font-size: 5vw;
}
#titleArtLarg
{
    font-size: 3vw;
}